body {
	background: #f0f0f0;
}

#main {
}

input, textarea {
	outline: none;
}

.PostItem {
	list-style-type: none;
}

.PostItem-title {

}

.PostItem-date {
	font-size: 15px;
	margin-top: -15px;
}

.PostItem-body {
	padding: 15px 0;
	margin-left: 15px;
}

.PostForm > input {
	display: block;
	margin: 15px;
}

.PostForm > textarea {
	display: block;
	margin: 15px;
}

.PostView {

}

.PostView-title {

}

.PostView-list {

}