{% extends 'layout.html' %}

{% block content %}
  <div id='admin'></div>

	<div class='form posts-form'>
		<a href='http://localhost:3000/admin/posts'><h2>Posts</h2></a>
		<form method='post' action'/admin/posts'>
			<label>Title</label>
			<input type='text' name='postTitle'></br>
			<label>Body</label>
			<input type='text' name='body'></br>
			<button type='submit'>Save</button>
		</form> 
	</div>

	</br>

	<a href='http://localhost:3000/admin/songs'><h2>Songs</h2></a>
	<div class='form songs-form'>
		<form method='post' action'/admin/songs'>
			<label>Title</label>
			<input type='text' name='songTitle'></br>
			<label>Artist</label>
			<input type='text' name='artist'></br>
			<label>Link</label>
			<input type='text' name='link'></br>
			<button type='submit'>Save</button>
		</form> 
	</div>

	</br>
	
	<a href='http://localhost:3000/admin/projects'><h2>Projects</h2></a>
	<div class='form projects-form'>
		<form method='post' action'/admin/projects'>
			<label>Title</label>
			<input type='text' name='projectName'></br>
			<label>Picture</label>
			<input type='text' name='picture'></br>
			<label>Languages</label>
			<input type='text' name='languages'></br>
			<label>Summary</label>
			<input type='text' name='summary'></br>
			<button type='submit'>Save</button>
		</form> 
	</div>
{% endblock %}