{% extends 'layout.html' %}

{% block content %}
  <div id='admin'></div>

	<div class='form posts-form'>
		<h2>Posts</h2>
		<form method='post' id='post' action='/admin/dashboard'>
			<input type='hidden' name='_csrf' value='{{csrfToken}}'>
			<label>Title</label>
			<input type='text' name='postTitle' value='{{title}}'></br>
			<label>Body</label>
			<textarea name='body' form='post'>{{body}}</textarea></br>
			<button type='submit'>Save</button>
		</form> 
	</div>

	</br>

	<div class='form posts-form'>
		<h2>Posts</h2>
		<form method='post' id='post' action='/admin/dashboard/{{title_slug}}?_method=PUT'>
			<input type='hidden' name='_csrf' value='{{csrfToken}}'>
			<label>Title</label>
			<input type='text' name='editPostTitle' value='{{title}}'></br>
			<label>Body</label>
			<textarea name='editPostBody' form='post'></textarea></br>
			<button type='submit'>Update</button>
		</form> 
	</div>

	</br>

	<div class='form posts-form'>
		<h2>Posts</h2>
		<form method='post' id='post' action='/admin/dashboard/{{title_slug}}?_method=DELETE'>
			<label>Title</label>
			<input type='text' name='title' value='{{title}}'></br>
			<button type='submit'>Delete</button>
		</form> 
	</div>

	</br>

	<div class='form songs-form'>
		<h2>Songs</h2>
		<form method='post' id='song' action'/admin/dashboard'>
			<input type='hidden' name= '_csrf' value='{{csrfToken}}'>
			<label>Title</label>
			<input type='text' name='songTitle'></br>
			<label>Artist</label>
			<input type='text' name='artist'></br>
			<label>Link</label>
			<input type='text' name='link'></br>
			<button type='submit'>Save</button>
		</form> 
	</div>

	</br>

	<div class='form projects-form'>
		<h2>Projects</h2>
		<form method='post' id='project' action'/admin/dashboard'>
			<input type='hidden' name= '_csrf' value='{{csrfToken}}'>
			<label>Title</label>
			<input type='text' name='projectName'></br>
			<label>Picture</label>
			<input type='text' name='picture'></br>
			<label>Languages</label>
			<input type='text' name='languages'></br>
			<label>Summary</label>
			<textarea name='body' form='project'></textarea></br>
			<button type='submit'>Save</button>
		</form> 
	</div>

	</br>
	
	<div id='posts'></div>
	<div id='projects'</div>
  <script src='/javascripts/dist/Projects.js'></script>
  <script src='/javascripts/dist/Posts.js'></script>

{% endblock %}