extends layout

block content
  div#main

  script(src='/javascripts/vendor/polyfills.js')
  script(src='https://cdn.jsdelivr.net/g/react@0.14.3(react.min.js+react-dom.min.js')
  script(src='/javascripts/Application.js')