doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  block content
    div#main

    script(src='/javascripts/vendor/polyfills.js')
    script(src='https://cdn.jsdelivr.net/g/react@0.14.5(react.min.js+react-dom.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
