html {
	margin: 10vh 0;
	background: #fbfbfb;
}

body {
  margin: 0 10vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,.8);
  background: #fbfbfb
}

a {
	font-weight: bold;
  color: rgba(0,0,0,.6);
  text-decoration: none;
  padding: 0 5px;
}

a:hover {
	color: rgba(0,0,0,1);
}

h1 {
  font-size: 25px;
}